$clr-dark-grey: #1f1f1f;
$clr-darklight: #111111;
$clr-light: #f9f9f9;
$clr-red: rgb(209, 54, 57);
$clr-grey-text: #656462;
$clr-dark: #111;
$clr-gray:#252423;


/*breakpoints*/
$break-sm: 480px;
$break-md: 760px;
$break-lg: 980px;
$break-xl: 1080px;

$ff-primary: MarkProBold;
$ff-secondary: MarkPro;