.header{
    background-color: rgba($color: $clr-dark, $alpha: 0);
    &.scroll{
        background-color: rgba($color: $clr-dark, $alpha: 1);
        border-bottom: 1px solid $clr-gray;
        .header__nav .hideMobile .funcs .search{
            border: none;
            background-color: $clr-gray;
        }
    }
    z-index: 999;
    position: fixed;
    width: 100%;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8rem;
        padding: 0 3rem;
        li{
            display: flex;
            align-items: center;
            &:nth-of-type(1){
                &:hover{
                    path{
                        fill: $clr-red-hover;
                    }
                    i{
                        color: $clr-red-hover;
                    }
                }
            }
        }
        i{
            color: $clr-light;
            font-size: 1rem;

        }
        .logos{
            display: flex;
            .logo{
                width: 3rem;
                margin-left: 2rem;
                path{
                    fill: $clr-light;
                }
            }
            .textLogo{
                width: 8.5rem;
                path{
                    fill: $clr-light;
                }

            }
            
        }
        .mobOnly{
            display: none;
        }
        @include mediaQuery($break-md){
            .mobOnly{
                display: flex;
                gap: 3rem;
                svg{
                    width: 3rem;
                    margin-right: 1rem;
                    path{
                        fill: $clr-light;
                    }
                }
            }
        }
        .hideMobile{
            display: flex;
            gap: 80rem;
            .appearMobile{
                display: none;
            }
            .mobOnly{
                display: none;
            }
            .navi{
                display: flex;
                margin-left: 4rem;
                gap: 3rem;
                i{
                    margin-left: 0.5rem;
                }
                li{
                    font-size: 1.3rem;
                    padding: 0 1rem;
                    border-radius: 1rem;
                    &:hover{
                        background-color: rgba($color: $clr-gray, $alpha: 0.7);
                        cursor: pointer;
                        i{
                            color: $clr-light;
                        }
                        &:last-child{
                            position: relative;
                            &::after{

                                content: "";
                                height: 4px;
                                width: 8rem;
                                position: absolute;
                                background-color: #d1363a;
                                border-radius: 2px;
                                top: 53px;
                                left: 3px;
                            }
                        }
                    }
                }
            }

            .navi {
                list-style-type: none;
                display: flex;
                li{
                    position: relative;
                }
                .navig {
                
                    padding: 10px;
                    cursor: pointer;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    top: 138%;
                    left: 0;
                    background-color: $clr-gray;
                    padding: 10px;
                    width: 150px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    border-top: 4px solid $clr-red-hover;
                    border-radius: 5px;
                    a{
                    color: $clr-lightgrey-text;
                    padding: 8px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover{
                        background-color: $clr-gray;
                    }
                    }
            
                }
            }
            
            @include mediaQuerymin($break-lg){
                .navig:hover + .dropdown-content,
            .dropdown-content:hover {
                display: block;
            }
            }
            .funcs{
                display: flex;
                gap: 1rem;
                li{
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
                svg{
                    width: 1.5rem;
                    margin-right: 1rem;
                    path{
                        fill: $clr-light;
                    }
                }
                .search{
                    border: 1px solid $clr-light;
                    padding: 0.5rem 1rem;
                    border-radius: 3rem;
                    padding: 0.3rem 2rem;
                input{
                    border: none;
                    outline: none;
                    background: none;
                    color: $clr-light;
                    font-size: 16px;
                }
            }
            
        }
    }
}}