.header{
    padding: 0 3rem;
    &__nav{
        display: flex;
        justify-content: space-between;
        
        .right{
            display: flex;
            
        }
        .left{
            display: flex;
            .search{
                    border: $clr-dark 1px solid;
                    border-radius: 3rem;
                    padding: 0.3rem 2rem;
                input{
                    border: none;
                    outline: none;
                    background: none;
                    color: $clr-light;
                    font-size: 16px;
                }
            }
            
        }
    }
}